@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hexagon {
    display: inline-block;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  }

  .border-3 {
    @apply border-[3px];
  }

  .flip-horizontal {
    --transform-scale-x: -1;
  }

  .flip-vertical {
    --transform-scale-y: -1;
  }
}

@layer base {
  .content-container {
    width: 100%;
    max-width: 68rem;
    @apply px-4 lg:px-8;
    @apply mx-auto;
  }
}

@layer components {
  .sprite {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    image-rendering: pixelated;
  }

  .link {
    @apply text-zinc-100 hover:text-teal-400;
  }

  .btn {
    @apply flex items-center justify-center;
    @apply bg-gray-700 hover:bg-teal-600;
    @apply text-black-100 hover:text-black-100;
    @apply py-1 px-3;
  }

  .btn > svg {
    @apply mr-1;
  }

  .btn:disabled,
  .btn--disabled {
    @apply cursor-default;
    @apply bg-gray-900 cursor-default;
  }

  .btn--large {
    @apply font-bold text-xl;
    @apply px-6 py-4;
  }

  .btn--large > svg {
    @apply mr-2;
  }

  .page-header-input {
    @apply transition-colors bg-gray-800 border-b-2 border-gray-500 focus:border-gray-300;
    @apply w-full px-2 py-2;
  }

  a[data-tip] {
    @apply hover:text-inherit cursor-help;
  }

  #card-tooltip {
    font-size: inherit !important;
    padding: 0 !important;
  }
  #related-cards-tooltip {
    font-size: inherit !important;
    padding: 0 !important;
  }
  #related-cards-tooltip.show {
    opacity: 0.99;
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  @apply transition-colors;
}

a:hover {
  @apply text-teal-400;
}

.disabled {
  @apply text-zinc-600;
}

button {
  @apply transition-colors;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-zinc-900;
  @apply text-zinc-100;
}

input {
  @apply outline-none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}
