@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --w-aside: theme('spacing.72');
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

@layer base {
  a {
    color: inherit;
    text-decoration: none;
    @apply transition-colors;
  }

  a:hover {
    @apply text-accent-400;
  }

  button {
    @apply transition-colors;
  }

  * {
    box-sizing: border-box;
  }

  html {
    color-scheme: dark;
  }

  body {
    @apply bg-gray-900;
    @apply text-gray-100;
  }

  input {
    @apply outline-none;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-alt-500;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-alt-700;
  }
}

@layer components {
  .content-container {
    width: 100%;
    max-width: 68rem;
    @apply px-4 lg:px-8;
    @apply mx-auto;
  }

  .sprite {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    image-rendering: pixelated;
  }

  .link {
    @apply text-gray-100 hover:text-accent-400;
  }

  .hexagon {
    display: inline-block;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  }

  .btn {
    @apply flex items-center justify-center gap-x-1.5;
    @apply bg-alt-700 hover:bg-accent-600;
    @apply text-gray-100 hover:text-gray-100;
    @apply py-1 px-3;
  }

  .btn-outline {
    @apply flex items-center justify-center gap-x-1.5;
    @apply py-1 px-3;
    @apply bg-transparent hover:bg-alt-600;
    @apply border-2 border-alt-400 hover:border-transparent;
    @apply font-semibold text-alt-400 hover:text-gray-100;
  }
  .btn-outline.btn-accent {
    @apply border-accent-400 text-accent-400;
    @apply hover:bg-accent-400 hover:text-gray-100;
  }

  .btn:disabled,
  .btn--disabled {
    @apply cursor-default;
    @apply cursor-default bg-alt-900;
  }

  .btn--large {
    @apply text-xl font-bold;
    @apply px-6 py-4;
  }

  .btn--large > svg {
    @apply mr-1;
  }

  .page-header-input {
    @apply border-b-2 border-alt-600 bg-alt-800 transition-colors focus:border-alt-400;
    @apply w-full px-2 py-2;
  }

  a[data-tip] {
    @apply cursor-help hover:text-inherit;
  }

  .grid-in-aside > * {
    width: var(--w-aside);
    @apply border-l border-gray-700;
  }

  .combobox {
    @apply relative;
  }

  .combobox-input {
    @apply relative inline-flex w-full flex-row overflow-hidden;
  }
  .combobox-input > input {
    @apply flex-1 border-none bg-alt-800 px-2 py-2 outline-none;
  }
  .combobox-input > button {
    @apply cursor-pointer border-l border-gray-600 bg-alt-850 px-2.5 text-accent-600 focus:outline-none;
  }

  .combobox-options {
    @apply absolute z-50 mt-1 w-full bg-alt-1000 shadow-lg;
  }
  .combobox-options > ul {
    @apply max-h-60 overflow-auto rounded-md py-1 text-base leading-6 shadow-sm focus:outline-none sm:text-sm sm:leading-5;
  }
  .combobox-options > ul > li {
    @apply relative flex cursor-default select-none items-center justify-between gap-x-2 py-2 px-2 text-gray-100 focus:outline-none ui-active:bg-accent-600;
  }
}

@layer utilities {
  .disabled {
    @apply text-gray-600;
  }

  .flip-horizontal {
    --transform-scale-x: -1;
  }

  .flip-vertical {
    --transform-scale-y: -1;
  }

  .w-aside {
    width: var(--w-aside);
  }
  .w-aside-2x {
    width: calc(var(--w-aside) * 2);
  }

  .shadow-nav {
    clip-path: inset(0 -4rem -1px 0);
  }
  .shadow-header {
    clip-path: inset(0 0 -4rem 0) gap-x-2;
  }
  .shadow-deck {
    box-shadow: 0px 0px 12px 4px var(--tw-shadow-color);
  }

  .bg-image {
    @apply bg-fixed bg-no-repeat bg-blend-overlay;
    background-position: center top;
    background-size: cover;
  }
  .bg-image-deckbuilder {
    @apply bg-image bg-gray-900;
    background-image: url('/assets/backgrounds/bg5.jpg');
  }
  .bg-image-deckdetails {
    @apply bg-image bg-gray-850;
    background-image: url('/assets/backgrounds/bg2.jpg');
  }
  .bg-image-deckdiff {
    @apply bg-image bg-gray-1000;
    background-image: url('/assets/backgrounds/bg8.jpg');
  }
  .bg-image-decksearch {
    @apply bg-image bg-gray-900;
    background-image: url('/assets/backgrounds/bg6.jpg');
  }

  .bg-image-profile {
    @apply bg-image bg-gray-1000;
    background-image: url('/assets/backgrounds/bg10.jpg');
  }

  .cover-parent::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transition: background-color 0.1s ease-out 0s;
    background-color: transparent;
  }
}

#card-tooltip {
  font-size: inherit !important;
  padding: 0 !important;
}
#related-cards-tooltip {
  font-size: inherit !important;
  padding: 0 !important;
}
#related-cards-tooltip.show {
  opacity: 0.99;
}
